@import 'src/styles/base';

.section {
  padding-top: 50px;
}

.sectionHeader {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
  font-size: 1.5em;
  color: $aboutBlack;
}

.sectionText {
  text-align: left;
  padding-top: 10px;
  color: $aboutBlack;
  line-height: 2em;
  font-size: 1em;
}


.link, .link:hover, .link:visited, .link:link, .link:active {
  text-decoration: none;
  color: #195EA7;
    padding: 0;
  cursor: pointer;
}

.sectionImage {
  display: block;
  margin: auto;
  height: 25vh;
  width: auto;
}

@media (min-width: $tabletBreakpoint) {

  .sectionHeader {
    text-align: center;
    padding-bottom: 10px;
  }

  .sectionText {
    padding-top: 0;
  }

}

@media (min-width: $desktopBreakpoint) {

  .section {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .sectionHeader {
    text-align: right;
    padding-right: 20px;
    padding-bottom: 0;
  }

  .sectionText {
    padding-right: 30px;
    text-align: left;
    transform: translate(0, -1px);
  }

}
