@import 'src/styles/base';


.heading {
	background-color: #f0f0f0;
	border-radius: 5px 5px 0 0;
}

.paragraph {
	background-color: white;
	border-radius: 0 0 5px 5px;
}

.heading > p {
	font-size: 2em;
	line-height: 1em;
	margin: 0 2vw;
	color: #4A4A4A;
	text-align: center;
	padding: 20px 30px;
	font-family: 'Roboto Condensed', sans-serif;
}

.paragraph > div {
	clear: both;
}

.paragraph > p{
	padding: 10px 10px;
}

.moreButton {
	font-size: 1em;
	color: white;
	background-color: $applyBlue;
	border: none;
	border-radius: 1.25em;
	width: 8em;
	height: 2.5em;
	float: right;
	padding: 0 0 0 0;
	margin: 0 0 15px 0;
}

.moreButton:hover {
  background-color: darken($applyBlue, 10%);
}

.sponsorImage {
  	display: block;
  	height: 10vh;
  	width: auto;
  	margin: 0 0 0 0;
}

@media (min-width: $tabletBreakpoint) {
	.paragraph > p {
		padding: 2vw 4vw;
	}

	.heading > p {
		padding: 2vw 4vw;
	}

}

@media (min-width: $desktopBreakpoint) {
	.paragraph > p {
		padding: 2vw 4vw;
	}

	.heading > p {
		padding: 2vw 3vw;
	}

}

@media (min-width: $bigDesktopBreakpoint) {
	.paragraph > p {
		padding: 2vw 3vw;
	}
	
	.heading > p {
		padding: 2vw 1.5vw;
	}

}
