@import 'src/styles/base';

.speakers {
	padding: 45px 0;
}

.header {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  color: $headerGray;
  letter-spacing: 5px;
  font-size: $headerSmall;
  margin: 0;
}

@media (min-width: $tabletBreakpoint) {

  .header {
    text-align: center;
    font-size: $headerSmall;
  }

}

@media (min-width: $desktopBreakpoint) {

  .header {
    font-size: $headerBig;
  }

}