@import './navbar';

$applyGray: #bdccdc;
$applyBlue: #195EA7;
$aboutBlack: #0a1429;
$headerGray: #bdccdc; 
$footerBlack: #0a1429;

$tabletBreakpoint: 768px;
$desktopBreakpoint: 1024px;
$bigDesktopBreakpoint: 1920px;

$headerBig: 5em;
$headerSmall: 3em;