@import 'src/styles/base';

.imageBox {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 230px;
  height: 120px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.image {
  display: inline-block;
  width: auto;
  height: auto;
  transform: translateY(-50%);
  margin-right: 5px;
}
